@import 'abstracts/variables';

@import 'global/reset';
@import 'global/base';
@import 'global/typography';
@import 'global/form';

@import 'block/cards';
@import 'block/buttons';
@import 'block/icons';
@import 'block/tabs';
@import 'block/slider';
@import 'block/site-head';
@import 'block/hero';
@import 'block/footer';
@import 'block/logo';
@import 'block/navigation';
@import 'block/cover';
@import 'block/page-label';
@import 'block/members';
@import 'block/map';

@import 'composition/wrapper';
@import 'composition/cluster';
@import 'composition/grid';
@import 'composition/switcher';
@import 'composition/stack';
@import 'composition/stacked';
@import 'composition/even-columns';

@import 'utilities';

.boxes {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.box {
		block-size: 3rem;
		inline-size: var(--space);
		background-color: pink;
	}

	.box.blue {
		background-color: lightblue;
	}
}