// Default variables
$space          : 0;
$measure        : 0;

// Screen breakpoints
$width-xxs      : 20.625em;
$width-xs       : 22.5em;
$width-sm       : 30em;
$width-md       : 48em;
$width-lg       : 64em;
$width-xl       : 90em;
$width-xxl      : 120em;

// Lists
$list-of-layers : ('base');

