// Default variables
$space          : 1rem;
$measure        : 55ch;

// Screen breakpoints
$width-xxs      : 20.625em;
$width-xs       : 22.5em;
$width-sm       : 30em;
$width-md       : 48em;
$width-lg       : 64em;
$width-xl       : 90em;
$width-xxl      : 120em;