
html {
	scroll-behavior            : smooth;
	scroll-padding-block-start : var(--space-body-1);
}

body {
	font-family      : var(--ff-body);
	font-size        : var(--fs-2);
	font-weight      : var(--fw-3);
	line-height      : var(--line-height-3);
	color            : hsl(var(--clr-neutral-6));
	background-color : hsl(var(--clr-neutral-1));
}

section {
	content-visibility: auto;
}

:where(a, button) {
	text-decoration : none;
	color           : inherit;

	&:focus-visible {
		outline        : var(--outline-size) var(--outline-style) var(--outline-color);
		outline-offset : calc(var(--outline-size) * 1 + 1px);
	}
}

:where(ul, ol)[data-counter='true'] {
	--counter-visibility : block;
	counter-reset        : list-counter;

	li {
		counter-increment : list-counter;
	}
}

.App {
	display        : flex;
	flex-direction : column;

	main {
		flex : 1;
	}
}

