.form {
	--clr-valid   : 134, 61%, 41%;
	--clr-invalid : 0, 80%, 55%;
	--clr-warn    : 30, 100%, 51%;

	display       : grid;
	inline-size   : 100%;

	&:not(:valid) .btn {
		--bg           : var(--clr-neutral-4);
		pointer-events : none;
	}

	&__group {
		position : relative;
	}

	&__group:has(:invalid:not(:placeholder-shown)) {
		--fg : var(--clr-warn);
	}

	&__group:has(:invalid:not(:placeholder-shown):not(:focus)) {
		--fg : var(--clr-invalid);
	}

	&__group:has(:valid:not(:placeholder-shown)) {
		--fg : Var(--clr-valid);
	}

	&__group:has(:where(input, textarea):not(:placeholder-shown)) label {
		--lh      : var(--lh-1);
		--opacity : 0.8;

		transform : translateY(-120%);
	}

	label {
		--fs       : var(--fs-1);
		--opacity  : 0;

		position   : absolute;
		transition : transform 50ms ease-in-out, opacity 50ms ease-in-out;
		transform  : translateY(0);
	}

	textarea {
		resize         : vertical;
		vertical-align : top
	}

	input {
		padding-block-end : 0.15em;
	}

	:where(input, textarea) {
		font-weight      : var(--fw-3);
		width            : 100%;
		outline          : none;
		border           : none;
		border-block-end : 0.15em solid hsl(var(--clr-neutral-6));
	}

	:where(input, textarea):invalid:not(:placeholder-shown):not(:focus) {
		color : hsl(var(--fg));
	}

	label,
	:where(input, textarea)::placeholder {
		--_fs       : var(--fs, var(--fs-2));
		--_fw       : var(--fw, var(--fw-4));
		--_fg       : var(--fg, var(--clr-neutral-4));
		--_opacity  : var(--opacity, 1);

		color       : hsl(var(--_fg));
		opacity     : var(--_opacity);
		font-size   : var(--_fs);
		font-weight : var(--_fw);
	}
}