
.cluster {
	--_space        : var(--space, var(--space-1, #{$space}));

	display         : flex;
	flex-wrap       : wrap;
	gap             : var(--_space);
	justify-content : flex-start;
	align-items     : center;
}