.grid {
	--_space              : var(--space, var(--space-1, #{$space}));

	inline-size           : 100%;
	display               : grid;
	gap                   : var(--_space);
	grid-template-columns : repeat(auto-fit, minmax(min(var(--measure, #{$measure}), 100%), 1fr));
}