
.wrapper {
	inline-size   : var(--body-sizing);
	margin-inline : auto;
}

.wrapped {
	margin-inline : auto;

	@media (width >= $width-md) {
		inline-size : var(--body-sizing);
	}

	.wrapper {
		inline-size    : revert;
		margin-inline  : revert;
		padding-inline : var(--body-padding);

		@media (width >= $width-md) {
			padding-inline-start : var(--body-padding-inner);
		}
	}
}