
.wrapper {
	inline-size   : var(--body-sizing);
	margin-inline : auto;
}

.wrapped {
	margin-inline : auto;

	@media (width >= $width-md) {
		inline-size : var(--body-sizing);
	}

	.wrapper {
		inline-size    : revert;
		margin-inline  : revert;
		padding-inline : var(--space-body-1);

		@media (width >= $width-md) {
			padding-inline-start : var(--space-body-2);
			padding-inline-end   : 0;
		}
	}
}