[class*="btn"] {
	--transition-duration : 150ms;
	--transition-timing   : ease-in-out;
}

.btn {
	--_fg            : var(--fg, var(--clr-neutral-1, (0, 0%, 100%)));
	--_bg            : var(--bg, var(--clr-neutral-6, (0, 0%, 0%)));
	--_fs            : var(--fs, var(--fs-2, 1.6rem));
	--_fw            : var(--fw, var(--fw-4, 500));
	--outline-color : hsl(var(--_bg));

	cursor           : pointer;
	display          : inline-flex;
	align-items      : center;
	padding          : 1.5em 2em;
	font-size        : var(--_fs);
	font-weight      : var(--_fw);
	letter-spacing   : 0.025em;
	line-height      : var(--line-height-1);
	color            : hsl(var(--_fg));
	background-color : hsl(var(--_bg));
	border           : none;
	transition       : background-color var(--transition-duration) var(--transition-timing);

	&:has(.icon) {
		gap : 1ch;
	}

	&:active {
		--_bg : var(--clr-neutral-3);
	}

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			--_bg : var(--clr-neutral-5);
		}

		&:where(:hover, :focus-visible) .icon[data-rear="true"][data-type*="right"] {
			transform : translate(0.15em, -0.1em);
		}
	}

	.icon {
		--icon-size : 1em;

		transform   : translateY(-0.1em);
		transition  : transform var(--transition-duration) var(--transition-timing);
	}

	&[data-type="ghost"] {
		--_fg   : var(--clr-neutral-6);
		--_bg   : transparent;

		padding : 0;
	}

	&[data-type="box"] {
		inline-size     : 5rem;
		aspect-ratio    : 1;
		justify-content : center;
		align-items     : center;
		padding         : 0;
	}

	&[data-type="full"] {
		@media (width < $width-md) {
			inline-size     : 100%;
			justify-content : center;
		}
	}
}


.btn-hamburger {
	--_fg            : var(--fg, var(--clr-neutral-6, (0, 0%, 0%)));

	cursor           : pointer;
	position         : relative;
	inline-size      : 2.5rem;
	block-size       : 2.5rem;
	background-color : transparent;
	border           : none;

	span {
		position           : absolute;
		block-size         : 0.2rem;
		inline-size        : 60%;
		background-color   : hsl(var(--_fg));
		inset-block-start  : 50%;
		inset-inline-start : 50%;
		translate          : -50% -50%;
		transition         : transform var(--transition-duration) var(--transition-timing), inline-size var(--transition-duration) var(--transition-timing), inset var(--transition-duration) var(--transition-timing);
	}

	span:nth-child(1) {
		inset-block-start : 30%;
	}

	span:nth-child(4) {
		inset-block-start : 70%;
	}

	&[aria-expanded="true"] span:nth-child(1) {
		inset-block-start : 1.3rem;
		inline-size       : 0;
	}

	&[aria-expanded="true"] span:nth-child(2) {
		transform : rotate(45deg);
	}

	&[aria-expanded="true"] span:nth-child(3) {
		transform : rotate(-45deg);
	}

	&[aria-expanded="true"] span:nth-child(4) {
		inset-block-start : 1.3rem;
		inline-size       : 0;
	}
}