
.card-project {
	--_min-block-size : 15rem;
	--_max-block-size : 40vw;
	--_space          : var(--space, var(--space-1, #{$space}));

	position          : relative;
	min-block-size    : var(--_min-block-size);
	max-block-size    : var(--_max-block-size);

	&__content {
		z-index : 2;
		padding : var(--_space);
	}

	&::after {
		content          : '';
		position         : absolute;
		inset            : 0;
		background-color : hsl(var(--clr-neutral-1));
		opacity          : 0;
		z-index          : 1;
		transition       : opacity 300ms ease-in-out;
	}

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			--darken-image-opacity : 0.35;
		}

		&:where(:hover, :focus-visible)::after {
			opacity : 0.25;
		}
	}

	img {
		aspect-ratio   : 1 / 1.5;
		min-block-size : var(--_min-block-size);
		max-block-size : var(--_max-block-size);
	}
}

.card-member {
	container-type : inline-size;

	@media (width < $width-md) {
		margin-inline   : auto;
		max-inline-size : 21.875rem;
	}

	img {
		inline-size    : 100%;
		max-block-size : 20rem;
		object-fit     : cover;
	}

	&__image {
		position : relative;
	}

	&__image &__socials {
		--icon-size      : 2rem;
		--icon-fg        : var(--clr-neutral-1);

		opacity          : 0;
		position         : absolute;
		inset            : 0;
		justify-content  : center;
		align-items      : center;
		background-color : hsla(var(--clr-neutral-7), 0.75);
		transition       : opacity 250ms ease-in-out;

		@media (hover : none) {
			display : none;
		}
	}

	&__image .icon {
		transform  : translateY(50%);
		transition : transform 250ms ease-in-out;
	}

	&__image:where(:hover, :focus-visible) &__socials,
	&__image:where(:hover, :focus-visible) .icon {
		opacity   : 1;
		transform : translateY(0);
	}

	&__content {
		@media (hover : none) {
			@container (width > 17em) {
				display         : flex;
				justify-content : space-between;
			}
		}
	}

	&__content &__socials {
		--icon-size : 1.65rem;

		@media (hover : hover) {
			display : none;
		}
	}

	&__socials {
		display : flex;
	}
}

.card-office {
	container-type : inline-size;

	&__content {
		@container (width > 26em) {
			display         : flex;
			justify-content : space-between;
			align-items     : end;
		}
	}
}