
.card-project {
	--_min-block-size : 15rem;
	--_max-block-size : 40vw;

	min-block-size    : var(--_min-block-size);
	max-block-size    : var(--_max-block-size);

	img {
		aspect-ratio   : 1 / 1.3;
		min-block-size : var(--_min-block-size);
		max-block-size : var(--_max-block-size);
	}
}



.card-member {
	container-type  : inline-size;
	max-inline-size : 350px;

	@media (width < $width-md) {
		margin-inline: auto;
	}


	&__image {
		position : relative;
	}

	&__image &__socials {
		--icon-size      : 2.25rem;
		--icon-fg        : var(--clr-neutral-1);

		opacity          : 0;
		position         : absolute;
		inset            : 0;
		justify-content  : center;
		align-items      : center;
		background-color : hsla(var(--clr-neutral-7), 0.75);
		transition       : opacity 250ms ease-in-out;

		@media (hover : none) {
			display : none;
		}
	}

	&__image .icon {
		transform  : translateY(50%);
		transition : transform 250ms ease-in-out;
	}

	&__image:where(:hover, :focus-visible) &__socials,
	&__image:where(:hover, :focus-visible) .icon {
		opacity   : 1;
		transform : translateY(0);
	}

	&__content {
		@media (hover : none) {
			@container (width > 17em) {
				display         : flex;
				justify-content : space-between;
			}
		}
	}

	&__content &__socials {
		--icon-size : 1.65rem;

		@media (hover : hover) {
			display : none;
		}
	}

	&__socials {
		display : flex;
	}
}

