@use '../abstracts/modules/math';

.footer {
	--active-border    : none;
	--icon-size        : 1.5rem;
	--logo-size        : #{math.clamped(7.5rem, 10rem)};

	margin-inline      : auto;
	margin-block-start : calc(var(--space-fluid-9) + (var(--logo-size) / 2));

	@media (width < $width-lg) {
		inline-size : 100%;
	}

	@media (width >= $width-md) {
		margin-block-start : var(--space-fluid-9);
	}

	@media (width >= $width-lg) {
		inline-size : var(--body-sizing);
	}

	&__container {
		--_slice : calc(5rem + 9.6vw);
		--_space : var(--space-5, #{$space});

		position : relative;
		gap      : var(--_space);

		@media (width < $width-md) {
			padding-block-end : var(--_space);
			padding-inline    : var(--space-body-1);
		}

		@media (width >= $width-md) {
			max-inline-size : calc(100% - var(--_slice));
		}

		@media (width >= $width-lg) {
			--_slice : 7.7rem;
		}
	}

	&__lists {
		--space  : var(--space-fluid-5, #{$space});
		--_space : var(--space);
		gap      : var(--_space);

		@media (width >= $width-md) {
			--_space : var(--space-2);
		}
	}

	.logo {
		@media (width < $width-md) {
			margin-block-start : -50%;
		}
	}

	.btn {
		@media (width >= $width-md) {
			position         : absolute;
			inset-inline-end : 0;
			translate        : 50% 0;
		}
	}
}