
.footer {
	--icon-size   : 1.785rem;

	margin-inline : auto;

	@media (width >= $width-lg) {
		inline-size : var(--body-sizing);
	}

	&__container {
		--_slice : 9.9rem;

		position : relative;

		@media (width < $width-md) {
			padding-inline : var(--body-padding);
		}

		@media (width >= $width-md) {
			max-inline-size : calc(100% - var(--_slice));
		}

		@media (width >= $width-lg) {
			--_slice : 7.7rem;
		}
	}

	.logo {
		@media (width < $width-md) {
			margin-block-start : -50%;
		}
	}

	.btn {
		@media (width >= $width-md) {
			position         : absolute;
			inset-inline-end : 0;
			translate        : 50% 0;
		}
	}
}