@use '../abstracts/modules/math';

.header {
	position : relative;
	z-index  : math.layer('header');

	&__container {
		position      : relative;
		padding-block : var(--space-fluid-3);
	}

	&__content {
		display     : flex;
		align-items : center;
		gap         : var(--space-5);

		@media (width < $width-md) {
			justify-content : space-between;
		}
	}

	.navigation {
		@media (width < $width-md) {
			--active-border : none;

			position        : absolute;
			inset           : auto 0 0 var(--space-body-1);
			z-index         : -1;
			transition-property: opacity, transform, visibility;
			transition-duration: 200ms;
			transition-timing-function: ease-in-out;
		}
	}

	.navigation ul {
		@media (width < $width-md) {
			--fs    : var(--fs-3);
			--fg    : var(--clr-neutral-7);
			--bg    : var(--clr-neutral-2);

			padding : var(--space-5);
		}
	}

	.navigation[data-open="true"]::after {
		@media (width < $width-md) {
			content          : "";
			position         : fixed;
			z-index          : -1;
			inset            : 0 0 0 calc(-1 * var(--space-body-1));
			block-size       : 100vh;
			background-color : hsl(var(--clr-neutral-6));
			opacity          : 0.6;
		}
	}

	.navigation[data-open="false"] {
		@media (width < $width-md) {
			visibility : hidden;
			opacity    : 0;
			transform  : translateY(0);
		}
	}

	.navigation[data-open="true"] {
		@media (width < $width-md) {
			visibility : visible;
			opacity    : 1;
			transform  : translateY(99%);
		}
	}

	.btn-hamburger {
		translate : 25% 0;

		@media (width >= $width-md) {
			display : none;
		}
	}
}

