@use '../abstracts/modules/math';

.header {
	position : relative;
	z-index  : math.layer('header');

	&__container {
		position      : relative;
		padding-block : var(--space-fluid-3);
	}

	&__content {
		display     : flex;
		align-items : center;
		gap         : var(--space-5);

		@media (width < $width-md) {
			justify-content : space-between;
		}
	}

	.navigation {
		@media (width < $width-md) {
			position         : absolute;
			inset            : auto 0 0 var(--space-body-1);
			z-index          : -1;
			background-color : hsl(var(--clr-neutral-2));
		}
	}

	.navigation:where([data-open="false"], [data-open="true"]) {
		@media (width < $width-md) {
			animation-duration        : 200ms;
			animation-timing-function : ease-in-out;
			animation-fill-mode       : forwards;
		}
	}

	.navigation[data-open="false"] {
		@media (width < $width-md) {
			animation-name : navigation-close;
		}
	}

	.navigation[data-open="true"] {
		@media (width < $width-md) {
			animation-name : navigation-open;
		}
	}

	.btn-hamburger {
		translate : 25% 0;

		@media (width >= $width-md) {
			display : none;
		}
	}

	@keyframes navigation-close {
		from {
			visibility : visible;
			opacity    : 1;
			transform  : translateY(99%);
		}
		to {
			visibility : hidden;
			opacity    : 0;
			transform  : translateY(0);
		}
	}

	@keyframes navigation-open {
		from {
			visibility : hidden;
			opacity    : 0;
			transform  : translateY(0);
		}

		to {
			visibility : visible;
			opacity    : 1;
			transform  : translateY(99%);
		}
	}
}

