@use '../abstracts/modules/math';

.hero {
	position   : relative;
	block-size : math.clamped(35rem, 45rem, $width-sm, $width-md);

}

.hero:not([data-type]) {
	.hero__content {
		position         : relative;
		background-color : hsl(var(--clr-neutral-1));
		min-block-size   : 50%;

		@media (width >= $width-md) {
			position         : absolute;
			inline-size      : 90%;
			inset-block-end  : 0;
			inset-inline-end : 0;
		}

		@media (width >= $width-lg) {
			inline-size : 50%;
		}
	}

	.hero__content::before {
		@media (width < $width-md) {
			content            : "";
			position           : absolute;
			inset-block-start  : 0;
			inset-inline-start : 0;
			inline-size        : 90%;
			block-size         : 2.8125rem;
			translate          : 0 -99%;
			background-color   : inherit;
		}
	}

	picture {
		block-size : 50%;

		@media (width >= $width-md) {
			block-size : 100%;
		}

		@media (width >= $width-lg) {
			inline-size : 60%;
		}
	}

	img {
		object-fit : cover;
		width      : 100%;
		block-size : 100%;
	}
}

.hero[data-type="slider"] {
	background-color: red;
}