@use '../abstracts/modules/math';

.hero {
	--_block-size  : #{math.clamped(35rem, 45rem, $width-sm, $width-md)};

	position       : relative;
	inline-size    : 100%;
	min-block-size : var(--_block-size);
}

.test[data-type="test"] {

}

.hero:not([data-type]) {

	.hero__content {
		position         : relative;
		background-color : hsl(var(--clr-neutral-1));
		min-block-size   : 70%;
		padding          : var(--space-body-1) var(--space-body-1) 0;

		@media (width >= $width-md) {
			padding     : var(--space-fluid-7) 0 0 var(--space-fluid-7);
			position    : absolute;
			inline-size : 60%;
			inset       : auto 0 0 auto;
		}
	}

	.title-floated {
		--inset-inline-start : -0.4em;
	}

	picture {
		--_split   : 2;
		block-size : calc(var(--_block-size) / var(--_split));

		@media (width >= $width-md) {
			--_split    : 1;
			inline-size : 85%;
		}

		@media (width >= $width-lg) {
			inline-size : 65%;
		}
	}

	img {
		object-fit  : cover;
		inline-size : 100%;
		block-size  : 100%;
	}
}

.hero[data-type="slider"] {
	block-size: var(--_block-size);
}
