@use '../abstracts/modules/math';

.logo {
	--_fg        : var(--clr-neutral-6, #000000);
	--_logo-size : var(--logo-size, #{math.clamped(4.85rem, 6rem)});

	color        : hsl(var(--_fg));
	fill         : CurrentColor;

	svg {
		inline-size : var(--_logo-size);
		height      : auto;
	}
}

.logo[data-type="box"] {
	--_fg            : var(--clr-neutral-1);
	--_bg            : var(--clr-neutral-6);
	--_logo-size     : var(--logo-size, #{math.clamped(7.5rem, 10rem)});

	display          : grid;
	place-items      : center;
	inline-size      : var(--_logo-size);
	aspect-ratio     : 1;
	background-color : hsl(var(--_bg));

	svg {
		inline-size : 50%;
	}
}