@use '../abstracts/modules/math';

.page-label {
	--_offset : 4.875rem;

	pointer-events  : none;
	position        : absolute;
	inset           : 0 50% auto;
	z-index         : math.layer('page-label');
	translate       : -50% 0;
	max-inline-size : calc(var(--body-size) + var(--_offset));
	inline-size     : calc(100% - var(--body-padding) * 2);

	@media (width < $width-lg) {
		display : none;
	}

	&__container {
		position    : absolute;
		left        : 0;
		translate   : -100% 0;
		inline-size : calc(var(--body-padding) / 2.25);
	}

	&__content {
		display            : flex;
		align-items        : center;

		position           : absolute;
		inset-inline-start : 25%;
		transform          : rotate(90deg);
		transform-origin   : top left;

		text-transform     : uppercase;
		letter-spacing     : 0.5em;
		white-space        : nowrap;
	}

	&__content::before {
		content          : "";
		block-size       : 1px;
		width            : 5rem;
		background-color : currentColor;
		transform        : translateY(-0.1em);
	}
}