
.slider {
	block-size  : 100%;
	inline-size : 100vw;

	@media (width >= $width-md) {
		inline-size : 100%;
	}

	&__container {
		position                    : relative;
		block-size                  : 100%;
		display                     : grid;
		grid-auto-columns           : 100%;
		grid-auto-flow              : column;
		scroll-snap-type            : inline mandatory;
		scroll-behavior             : smooth;
		overflow                    : auto hidden;
		overscroll-behavior-inline : contain;
		scrollbar-width             : none;

		&::-webkit-scrollbar {
			display : none;
		}
	}

	&__content {
		@media (hover : hover) {
			padding-block-end : 4rem; // tabs block size
		}
	}

	&__slide {
		touch-action      : pan-y;
		scroll-snap-align : start;
	}

	&__swipe-tip {
		position         : absolute;
		inset            : var(--space-body-1) 0 auto auto;
		pointer-events   : none;

		font-size        : var(--fs-1);
		font-weight      : var(--fw-4);

		padding          : 0.25em 0.5em;
		background-color : hsl(var(--clr-neutral-2, #ffffff));
		opacity          : 0.65;
	}

	&__swipe-tip[data-visible="false"] {
		display : none;
	}

	[class*="desc-"] {
		--measure : 75vw;

		@media (width >= $width-md) {
			--measure : var(--measure-5);
		}
	}

	.tabs {
		position : absolute;
		inset    : auto auto 0 0;
		z-index  : 1;

		@media (hover : none) {
			display : none;
		}

		@media (width >= $width-lg) {
			--offset-tab-by : 1;
		}
	}
}