
.tabs {
	--_offset-tab-by    : var(--offset-tab-by, 0);
	--_tab-size         : var(--tab-size, 3.5em);
	--_fg               : var(--fg, var(--clr-neutral-5, #000000));
	--_bg               : var(--bg, var(--clr-neutral-1, #ffffff));
	--_fs               : var(--fs, var(--fs-2, 1rem));
	--_fw               : var(--fw, var(--fw-4, 1rem));

	display             : flex;
	margin-inline-start : calc(var(--_offset-tab-by) * var(--_tab-size) * -1);

	button {
		min-inline-size  : var(--_tab-size);
		aspect-ratio     : 1;
		cursor           : pointer;
		font-size        : var(--_fs);
		font-weight      : var(--_fw);
		color            : hsl(var(--_fg));
		background-color : hsl(var(--_bg));
		border           : none
	}

	button:where(:hover, :focus-visible) {
		--_bg : var(--clr-neutral-2, #f5f5f5);
	}

	button[aria-selected="true"] {
		--_fg : var(--bg, var(--clr-neutral-1, #ffffff));
		--_bg : var(--fg, var(--clr-neutral-6, #000000));
	}
}