
.card-project {
	--_min-block-size   : 15rem;
	--_max-block-size   : 40vw;

	min-block-size      : var(--_min-block-size);
	max-block-size      : var(--_max-block-size);

	img {
		aspect-ratio   : 1 / 1.3;
		min-block-size : var(--_min-block-size);
		max-block-size : var(--_max-block-size);
	}
}