@use '../abstracts/modules/math';

.logo {
	--_fg : var(--clr-neutral-6);

	svg {
		inline-size : math.clamped(4.85rem, 6rem);
	}
}

.logo[data-type="box"] {
	--_fg            : var(--clr-neutral-1);
	--_bg            : var(--clr-neutral-6);

	display: grid;
	place-items: center;
	inline-size            : math.clamped(7.5rem,  12.5rem);
	aspect-ratio     : 1;
	background-color : hsl(var(--_bg));

	svg {
	}

}