@use '../abstracts/modules/math';

.logo {
	--_fg : var(--clr-neutral-6, );

	color : hsl(var(--_fg));
	fill  : CurrentColor;

	svg {
		inline-size : math.clamped(4.85rem, 6rem);
		height      : auto;
	}
}

.logo[data-type="box"] {
	--_fg            : var(--clr-neutral-1);
	--_bg            : var(--clr-neutral-6);

	display          : grid;
	place-items      : center;
	inline-size      : math.clamped(7.5rem, 10rem);
	aspect-ratio     : 1;
	background-color : hsl(var(--_bg));

	svg {
		inline-size : math.clamped(3.625rem, 6rem);
	}
}