
.navigation {
	ul {
		display : flex;

		@media (width < $width-md) {
			flex-direction : column;
		}
	}

	li {
		font-weight : var(--fw-4);
		color : hsl(var(--clr-neutral-5));

		.header & {
			@media (width < $width-md) {
				font-size : var(--fs-3);
				color : hsl(var(--clr-neutral-6));
			}
		}
	}


}