
.navigation {
	font-size : var(--fs-2);
	color     : hsl(var(--clr-neutral-5));

	.header & {
		@media (width < $width-md) {
			font-size : var(--fs-3);
			color     : hsl(var(--clr-neutral-6));
		}
	}
}
