
.switcher {
	display   : flex;
	flex-wrap : wrap;
	gap       : var(--space, 1rem);

	& > img {
		inline-size : 50%;
	}

	& > * {
		flex-basis : calc((var(--measure, 60ch) - 100%) * 999);
		flex-grow  : 1;
	}
}